.productList {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.productDetail {
	border: 1px solid #ddd;
	padding: 20px;
	width: 200px;
	text-align: center;
	background-color: aqua;
} 

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #666;
  }
  
  .sizes span {
    font-size: 1rem;
    color: #333;
    margin-right: 0.5rem;
  }
  
  .price {
    font-size: 1.5rem;
    color: #0c0909;
    margin-top: 1rem;
  }
  
  .categories span {
    font-size: 1rem;
    color: #333;
    margin-right: 0.5rem;
  }
  