/* ProductCard.module.css */

.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.productCard {
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.textBlack {
  color: black;
  font-size: 20px;
}

.textBlue500 {
  color: #3b82f6;
  font-size: 20px;
}

.textSize {
  color: grey;
}

.linkButton {
  display: block;
  width: 100%;
  margin-top: auto; /* This makes sure the button stays at the bottom */
  margin-bottom: 8px;
  color: #ffffff;
  font-weight: medium;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #3b82f6;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.linkButton:hover {
  text-decoration: underline;
}

.imageFullCover {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
