/* styles/ProductList.module.css */
.productList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2px; /* Adjust the gap between cards if necessary */
  padding: 20px; /* Add padding if needed */
  }
  
  .productCard {
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: aqua;
  }

  @media (max-width: 768px) {
    .productCard {
      width: calc(50% - 20px); /* 2 cards per row */
    }
  }
  
  .productCard img {
    max-width: 100%;
    height: auto;
  }

  .paginationButton {
    
    margin-bottom: 12px;
    padding: 10px 20px;
    background-color: #1e40af;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .paginationButton:hover {
    background-color: #1a368e;
    transform: scale(1.05);
  }
  
  .paginationButton:disabled {
    background-color: #gray-300;
    cursor: not-allowed;
  }
  
