/* styles/ProductList.module.css */
.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .productCard {
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: aqua;
  }
  
  .productCard img {
    max-width: 100%;
    height: auto;
  }
  